.header {
  padding: 60px;
  text-align: center;
  background: #F4C7E0;
  color: black;
  font-size: 30px;
}

 body, html {
	  height: 100%;
	  margin: 0;
	}
.bg {
      height: 50%;
	  background-position: center;
	  background-repeat: no-repeat;
	  background-size: cover;
   }
   
/* Adding image to each div */
    .image1 {
	  background-image: url("file:///C:/Users/Acer/Favorites/Downloads/INDIVIDUAL%20ASSIGNMENT%20IMD311/asset/image/banpecah.jpg");
	}
	.image2 {
	  background-image: url("file:///C:/Users/Acer/Favorites/Downloads/INDIVIDUAL%20ASSIGNMENT%20IMD311/asset/image/kangsar.jpg");
	}
	.image3 {
	  background-image: url("file:///C:/Users/Acer/Favorites/Downloads/INDIVIDUAL%20ASSIGNMENT%20IMD311/asset/image/pangkor.jpg");
	}
	.image4 {
	  background-image: url("file:///C:/Users/Acer/Favorites/Downloads/INDIVIDUAL%20ASSIGNMENT%20IMD311/asset/image/castle.jpg");
	}
        .image5 {
	  background-image: url("file:///C:/Users/Acer/Favorites/Downloads/INDIVIDUAL%20ASSIGNMENT%20IMD311/asset/image/taiping.jpg");
	}
	.image6 {
	  background-image: url("file:///C:/Users/Acer/Favorites/Downloads/INDIVIDUAL%20ASSIGNMENT%20IMD311/asset/image/telukintan.jpg");
	}
        .image7 {
	  background-image: url("file:///C:/Users/Acer/Favorites/Downloads/INDIVIDUAL%20ASSIGNMENT%20IMD311/asset/image/tambun.jpg");
	}
	.image8 {
	  background-image: url("file:///C:/Users/Acer/Favorites/Downloads/INDIVIDUAL%20ASSIGNMENT%20IMD311/asset/image/ipoh.jpg");
	}

.text {
	   font-size: 40px;
	   text-align: center;
	   position: fixed;
	   top: 80%;
	   left: 30%;
	   width: 40%;
	   padding: 20px;
	   background-color: rgba(0,0,0,0.5)
	   background-color: rgb(0,0,0); /*if image does not loads */
	   color: white;
	}